#header {
    background: #e4e56f;
}

#menu {
    background: #e5aab4;
}

.m5 {
    margin: 5px;
}

.border {
    border: solid black 1px;
}

.flex {
    display: flex;
}

.h50 {
    height: 50px;
}

.f-g1 {
    flex-grow: 1;
}

.f-g5 {
    flex-grow: 5;
}

.center-text {
    justify-content: center;
    align-items: center;
}

.post {
    background: #11daf8;
    height: 100px;
}