:root {
    --blue: #102B3E;
    --aqua: #3AC6EA;
    --grey: #CED7E0;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.products {
    padding: 50px;
    background-color: var(--grey);
}

.products__title {
    text-align: center;
    margin-bottom: 20px;
}

.products__grid {
    border: 1px solid var(--aqua);
    border-radius: 20px;
    padding: 20px;
}

.products__list {
    display: flex;
    column-gap: 30px;
}

.products__item {
    flex-grow: 1;
}

.products__item p {
    text-align: center;
    margin-top: 15px;
}

.products__item_imag {
    height: 200px;
    background-color: var(--blue);
    border-radius: 10px;
}

.about {
    background-color: var(--blue);
    padding: 50px 0;
}

.about__grid {
    display: flex;
    justify-content: space-between;
}

.about__card {
    width: 30%;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    color: white;
    transition: all 0.3s;
    padding: 20px;
    cursor: pointer;
}

.about__card:hover {
    border-color: var(--aqua);
}

.about__name {
    font-size: 20px;
    font-weight: 600;
}

.about__photo > div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--grey);
}