.h200 {
    height: 200px;
}

.h400 {
    height: 400px;
}

.box {
    background: #061e8f;
    height: 200px;
    padding: 10px;
}

.flex {
    display: flex;
}

.bg {
    background: #0e88c7;
}

.text-center-color-size {
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.jtf-cont-btw {
    justify-content: space-between;
}

.m5 {
    margin: 5px;
}