.h100 {
    height: 100px;
}

.h75 {
    height: 75px;
}

.h300 {
    height: 300px;
}

.flex {
    display: flex;
}

.text-center-color-size {
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.bg-hdr {
    background: #3f5ce5;
}

.bg-nav {
    background: #040f88;
}

.bg-main {
    background: #11daf8;
}

.bg-aside {
    background: #8258e5;
}

.bg_ftr {
    background: #7fdae5;
}

.f-g1 {
    flex-grow: 1;
}

.f-g5 {
    flex-grow: 5;
}