.bg {
    background: silver;
}

.mg5 {
    margin: 5px;
}

.h400 {
    height: 400px;
}

.h100 {
    height: 100px;
}

.flex {
    display: flex;
}

.box {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.f-g1 {
    flex-grow: 1;
}

.f-g4 {
    flex-grow: 4;
}

.container {
    border: solid black 1px;
    border-radius: 10px;
}