body {
    background: red;
}

.box {
    display: flex;
    height: 200px;

}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    height: 300px;
    background: #05e5a2;

}

.b {
    background: #18abbe;
    flex-grow: 2;
}

.c {
    background: #39e548;
    flex-grow: 1;
}